name: Publish to PyPI

on:
  release:
    types: [published]

jobs:
  pypi-publish:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/dateutils-python
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - name: Download release assets
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          mkdir -p dist
          gh release download '${{ github.event.release.tag_name }}' \
            --pattern '*.whl' \
            --pattern '*.tar.gz' \
            --dir dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
